# Operators

1. Arthimatic operators: 
    * Addition (+)
    * Subtraction (-)
    * Multiplication (*)
    * Float Division (/)
    * Integer divisiion (//)
2. Logical operators:
    * Logical or (or)
    * Logical and (and)
    * NOT (!)
    

3. Other operators:
    * Modulas Opertor (%)
    * Assignment (=)
    * Equal to (==)
    * Not equal to (!=)
    * Greater than (>)
    * Less than (<)
    * Greater than equal to (>=)
    * Less than equal to (<=)

* <b>And </b>  
koi bhi ek false=> output= false   
*side A* ***and*** *side B*
|Side 1|Side 2|Output|
|------|------|------|
|True  |True  |True  |  
|True  |False |False |  
|False |True  |False |  
|False |False |False | 

* <b> OR </b>  
koi bhi ek true=> output= true  
*side A* ***or*** *side B*
|Side 1|Side 2|Output|
|------|------|------|
|True  |True  |True  |  
|True  |False |True  |  
|False |True  |True  |  
|False |False |False |

In [2]:
#program to perform basic arthimatic operations
x=32
y=2
ans=0

#addition
ans=x+y
print("Addition:",ans)

#subtraction
ans=x-y
print("Subtraction:",ans)

#multiplication
ans=x*y
print("Multiplication:",ans)

#float division
ans=x/y
print("Float Division:",ans)

#integer division
ans=x//y
print("Integer Division:",ans)

Addition: 34
Subtraction: 30
Multiplication: 64
Float Division: 16.0
Integer Division: 16

In [3]:
#take two input from user and perform various operations
x1=int(input("value enter karo x1: "))
x2=int(input("value enter karo x2: "))

#addition
ans=x1+x2
print("\nAddition:",ans)

#subtraction
ans=x1-x2
print("Subtraction:",ans)

#multiplication
ans=x1*x2
print("Multiplication:",ans)

#float division
ans=x1/x2
print("Float Division:",ans)

#integer division
ans=x1//x2
print("Integer Division:",ans)

value enter karo x1: 34
value enter karo x2: 43

Addition: 77
Subtraction: -9
Multiplication: 1462
Float Division: 0.7906976744186046
Integer Division: 0

# Loops

* <b>***"For"*** </b>loop

In [4]:
#print "Sooraj" 10 times
for i in range(0,3):
    print("Sooraj")
    print("Hello")

Sooraj
Hello
Sooraj
Hello
Sooraj
Hello

In [5]:
for i in "banana":
    print(i)

b
a
n
a
n
a

In [6]:
for i in range(0,3):
    print(i)

0
1
2

* <b>***"While"***</b> Loop

In [3]:
x=0
while(x<3):
    print("Sooraj")
    x=x+1

Sooraj
Sooraj
Sooraj

In [1]:
#print natrural number upto 10
x=1
while(x<11):
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9

In [3]:
#print all even numbers btw 0 and 10
x=0
while(x<12):
    print(x)
    x=x+2

0
2
4
6
8
10

In [1]:
#print sum of first 10 natural number
sum=0
x=1
while(x<11):
    sum=sum+x
    x=x+1
print(sum)

55

In [ ]:
#print sum of first 20 even numbers
#print sum of first 10 odd numbers