**Consider the following Python dictionary data and Python list labels:**

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4],
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

**1. Create a DataFrame birds from this dictionary data which has the index labels.**

In [4]:
import pandas as pd
import numpy as np
data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4],
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

birds=pd.DataFrame(data,index=labels)
birds.head()

        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      yes
e  spoonbills  6.0       3       no

**2. Display a summary of the basic information about birds DataFrame and its data.**

In [ ]:
birds.info()

**3. Print the first 2 rows of the birds dataframe.**

In [ ]:
birds.head(2)

**4. Print all the rows with only 'birds' and 'age' columns from the dataframe**

In [ ]:
birds[['birds','age']]

**5. select [2, 3, 7] rows and in columns ['birds', 'age', 'visits']**

In [10]:
birds.loc[['b','c','g'],['birds','age','visits']]

     birds  age  visits
b   Cranes  4.0       4
c  plovers  1.5       3
g  plovers  5.5       2

**6. select the rows where the number of visits is less than 4**

In [12]:
birds.loc[birds['visits']<4]

        birds  age  visits priority
a      Cranes  3.5       2      yes
c     plovers  1.5       3       no
e  spoonbills  6.0       3       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no

**7. select the rows with columns ['birds', 'visits'] where the age is missing i.e NaN**

In [14]:
birds.loc[birds['age'].isna(),['birds','visits']]

        birds  visits
d  spoonbills       4
h      Cranes       2

**8. Select the rows where the birds is a Cranes and the age is less than 4**

In [16]:
birds.loc[(birds['birds']=='Cranes') & (birds['age']<4)]

    birds  age  visits priority
a  Cranes  3.5       2      yes
f  Cranes  3.0       4       no

**9. Select the rows the age is between 2 and 4(inclusive)**

In [17]:
birds.loc[birds['age'].between(2,4)]

        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
f      Cranes  3.0       4       no
j  spoonbills  4.0       2       no

**10. Find the total number of visits of the bird Cranes**

In [20]:
birds.loc[birds['birds']=='Cranes'].groupby('birds').agg(
    total_visits=('visits','sum')
).reset_index()

    birds  total_visits
0  Cranes            12

**11. Calculate the mean age for each different birds in dataframe.**

In [22]:
birds.groupby('birds').agg(
    mean_age=('age','mean')
).reset_index()

        birds  mean_age
0      Cranes       3.5
1     plovers       3.5
2  spoonbills       6.0

**12. Append a new row 'k' to dataframe with your choice of values for each column. Then delete that row to return the original DataFrame.**

**13. Find the number of each type of birds in dataframe (Counts)**

**14. Sort dataframe (birds) first by the values in the 'age' in decending order, then by the value in the 'visits' column in ascending order.**

In [23]:
birds.sort_values(['birds','visits'],ascending=[False,True])

        birds  age  visits priority
j  spoonbills  4.0       2       no
e  spoonbills  6.0       3       no
i  spoonbills  8.0       3       no
d  spoonbills  NaN       4      yes
g     plovers  5.5       2       no
c     plovers  1.5       3       no
a      Cranes  3.5       2      yes
h      Cranes  NaN       2      yes
b      Cranes  4.0       4      yes
f      Cranes  3.0       4       no

**15. Replace the priority column values with'yes' should be 1 and 'no' should be 0**

In [26]:
birds['priority']=birds['priority'].apply(lambda x: 1 if x=='yes' else 0)
birds

        birds  age  visits  priority
a      Cranes  3.5       2         1
b      Cranes  4.0       4         1
c     plovers  1.5       3         0
d  spoonbills  NaN       4         1
e  spoonbills  6.0       3         0
f      Cranes  3.0       4         0
g     plovers  5.5       2         0
h      Cranes  NaN       2         1
i  spoonbills  8.0       3         0
j  spoonbills  4.0       2         0

**16. In the 'birds' column, change the 'Cranes' entries to 'trumpeters'.**

In [ ]:
birds['birds'].apply(lambda x: if )

        birds  age  visits  priority
a      Cranes  3.5       2         1
b      Cranes  4.0       4         1
c     plovers  1.5       3         0
d  spoonbills  NaN       4         1
e  spoonbills  6.0       3         0
f      Cranes  3.0       4         0
g     plovers  5.5       2         0
h      Cranes  NaN       2         1
i  spoonbills  8.0       3         0
j  spoonbills  4.0       2         0

## Answers:

### Setup Code
```python
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4],
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

---

### **1. Create a DataFrame birds from this dictionary data which has the index labels.**

```python
birds = pd.DataFrame(data, index=labels)
birds.head()
```

---

### **2. Display a summary of the basic information about birds DataFrame and its data.**

```python
# Statistical summary
birds.describe()

# DataFrame information
birds.info()
```

---

### **3. Print the first 2 rows of the birds dataframe.**

```python
birds.head(2)
```

---

### **4. Print all the rows with only 'birds' and 'age' columns from the dataframe**

```python
birds[['birds', 'age']]
```

---

### **5. Select [2, 3, 7] rows and in columns ['birds', 'age', 'visits']**

```python
# Method 1: Using iloc (positional indexing)
birds.iloc[[2, 3, 7], [0, 1, 2]]

# Method 2: Using loc (label-based indexing)
birds.loc[['c', 'd', 'h'], ['birds', 'age', 'visits']]
```

---

### **6. Select the rows where the number of visits is less than 4**

```python
birds[birds['visits'] < 4]
```

---

### **7. Select the rows with columns ['birds', 'visits'] where the age is missing i.e NaN**

```python
birds.loc[birds['age'].isna(), ['birds', 'visits']]
```

---

### **8. Select the rows where the birds is a Cranes and the age is less than 4**

```python
birds.loc[(birds['birds'] == 'Cranes') & (birds['age'] < 4)]
```

---

### **9. Select the rows the age is between 2 and 4 (inclusive)**

```python
birds.loc[birds['age'].between(2, 4)]
```

---

### **10. Find the total number of visits of the bird Cranes**

```python
# Method 1: Simple filtering and sum
birds[birds['birds'] == 'Cranes']['visits'].sum()

# Method 2: Using groupby
birds.groupby('birds')['visits'].sum()['Cranes']

# Method 3: Using groupby with agg
birds.groupby('birds').agg(Total_visits=('visits', 'sum')).loc[['Cranes']]
```

---

### **11. Calculate the mean age for each different birds in dataframe.**

```python
# Method 1: Simple groupby
birds.groupby('birds')['age'].mean()

# Method 2: Using agg with custom column name
birds.groupby('birds').agg(Mean_age=('age', 'mean'))
```

---

### **12. Append a new row 'k' to dataframe with your choice of values for each column. Then delete that row to return the original DataFrame.**

```python
# Create new row as DataFrame
new_row = pd.DataFrame({
    'birds': ['eagles'],
    'age': [5.0],
    'visits': [3],
    'priority': ['yes']
}, index=['k'])

# Append the row
birds_with_k = pd.concat([birds, new_row])
print("After adding row 'k':")
print(birds_with_k)

# Delete the row to return to original
birds = birds_with_k.drop('k')
print("\nAfter removing row 'k':")
print(birds)
```

---

### **13. Find the number of each type of birds in dataframe (Counts)**

```python
# Method 1: Using value_counts
birds['birds'].value_counts()

# Method 2: Using groupby().size()
birds.groupby('birds').size()

# Method 3: Using groupby().count()
birds.groupby('birds')['birds'].count()
```

---

### **14. Sort dataframe (birds) first by the values in the 'age' in descending order, then by the value in the 'visits' column in ascending order.**

```python
birds.sort_values(['age', 'visits'], ascending=[False, True])
```

---

### **15. Replace the priority column values with 'yes' should be 1 and 'no' should be 0**

```python
# Method 1: Using replace
birds['priority'] = birds['priority'].replace({'yes': 1, 'no': 0})

# Method 2: Using map
birds['priority'] = birds['priority'].map({'yes': 1, 'no': 0})

# Method 3: Using lambda with apply
birds['priority'] = birds['priority'].apply(lambda x: 1 if x == 'yes' else 0)

# Method 4: Using numpy where
birds['priority'] = np.where(birds['priority'] == 'yes', 1, 0)
```

---

### **16. In the 'birds' column, change the 'Cranes' entries to 'trumpeters'.**

```python
# Method 1: Using replace
birds['birds'] = birds['birds'].replace('Cranes', 'trumpeters')

# Method 2: Using loc with boolean indexing
birds.loc[birds['birds'] == 'Cranes', 'birds'] = 'trumpeters'

# Method 3: Using apply with lambda
birds['birds'] = birds['birds'].apply(lambda x: 'trumpeters' if x == 'Cranes' else x)
```